@page "/test-component"
@rendermode InteractiveServer

<h3>Isolation Test</h3>



<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrmentCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrmentCount()
    {
        currentCount++;
        Console.WriteLine("test clicked!"); // Check browser console

    }
}